---
layout: archive
title: "Weekend Projects"
permalink: /projects/
author_profile: true
---

<section>
  <h2>About My Projects</h2>
  <p>I am passionate about building innovative and exciting projects. Whether it's developing an audio synthesizer, working on <strong>robotics</strong>, or exploring <strong>software engineering</strong>, <strong>electronics</strong> and <strong>mechanical engineering</strong>, I find great joy in the creative process. These projects allow me to delve into new technologies, tackle complex challenges, and bring my ideas to life.</p>
  <h3>Topics of Interest:</h3>
  <ul>
    <li>🤖 <strong>Robotics</strong>: Integrating computer science, electronic engineering, and mechanical engineering</li>
    <li>💻 <strong>Operating systems (Mostly work related)</strong></li>
    <li>🎵 <strong>Audio, speech, and synthesizers projects</strong></li>
    <li>🔧 <strong>SoCs and FPGAs, Edge AI computing</strong></li>
    <li>🔌 <strong>Electronics projects</strong></li>
  </ul>
  
  <p>Currently, I am self-studying 🤖 <strong>robotics dynamics</strong> and learning 🔧 <strong>FPGA Verilog</strong>. I am also constantly honing my CAD skills with 🖥️ <strong>Fusion 360</strong> and ⚡ <strong>High Speed Design with Altium Designer</strong>.</p>
</section>


{% for post in site.projects reversed %}
  <hr class="solid">
  {% include archive-single.html %}
  <!-- {% include archive-single.html type=entries_layout %} -->

{% endfor %}

