---
layout: archive
title: "Personal Projects"
permalink: /projects/
author_profile: true
copyright: false
---

<section>
  <h2>About My Projects</h2>
  <p>I am passionate about building innovative and exciting projects. Whether it's developing an <strong>audio synthesizer</strong>, working on <strong>robotics</strong>, I find great joy in the creative process. These projects allow me to delve into new technologies, tackle complex challenges, and bring my ideas to life.</p>
  <h3>Topics of Interest:</h3>
  <ul>
    <li>🤖 <strong>Robotics</strong></li>
    <li>💻 <strong>Operating systems</strong></li>
    <li>🎵 <strong>Audio, speech, and synthesizers projects</strong></li>
    <li>🔧 <strong>SoCs and FPGAs, Edge AI computing</strong></li>
    <li>🔌 <strong>Electronics projects</strong></li>
  </ul>
</section>


{% for post in site.projects reversed %}
  <hr class="solid">
  {% include archive-single.html %}
  <!-- {% include archive-single.html type=entries_layout %} -->

{% endfor %}

